.hand-container {
   height: 25%;
   display: flex;

   .row {
      margin-top: auto;
   }
}

.row {
   margin: 15px;
   display: flex;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   gap: 15px;
}

.block {
   padding: 15px;
   border: solid 1px black;
   border-radius: 10px;
   text-shadow: 0 0 1px #fff;
   position: relative;
}

.card {
   width: calc((100% - 300px) / 6);
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: flex-end;
}

.hand-container .card {
   &:hover {
      .stage,
      .desc {
         display: block;
      }
   }

   &.reserved {
      opacity: 0.5;
   }
}

.stage,
.desc {
   display: none;
   position: absolute;
}

.desc {
   bottom: 100%;
   padding: 15px;
   border: solid 1px black;
   border-radius: 10px;
   min-height: 50px;

   hr {
      margin: 4px;
   }
}

.stage {
   $size: 24px;
   top: 0;
   border-radius: 50%;
   width: $size;
   height: $size;
   line-height: $size;
   border: solid 1px black;
   text-align: center;
   cursor: pointer;
   transform: translate(-50%, -$size/2);

   &.stage-1 {
      left: calc(50% - 40px);
   }

   &.stage-2 {
      left: calc(50%);
   }

   &.stage-3 {
      left: calc(50% + 40px);
   }

   &:not(.active).disabled {
      opacity: 0.5;
   }

   &.active {
      display: block;
   }

   &.active,
   &:not(.disabled):hover {
      background-color: #fff;
   }
}
