.city {
   background-image: url('~@/assets/images/road.svg');
   display: flex;
   flex-wrap: wrap;
   background-size: contain;
   margin: 15px;
}

.poor.s,
.poor.n {
   background-image: url('~@/assets/images/poor_s.svg');
   .small {
      top: 20%;
   }
}

.poor {
   width: var(--size);
   height: var(--size);
   background-size: contain;
   position: relative;
}

.money.small,
.strength.small {
   position: absolute;
   width: 18px;
   height: 14px;
   line-height: 14px;
   font-size: 12px;
}

.money.small {
   left: 10%;
}

.strength.small {
   right: 10%;
}
