.city {
   background-image: url('~@/assets/images/roads.png');
   display: flex;
   flex-wrap: wrap;
   background-size: contain;
}

.poor.n {
   background-image: url('~@/assets/images/poor_n.png');
}

.poor.s {
   background-image: url('~@/assets/images/poor_s.png');
}

.poor {
   width: var(--size);
   height: var(--size);
   background-size: contain;
}
